name: ci

on: [push, pull_request]

# TODO specify actions/checkout version (fix checkout bug)
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v2
      - uses: jurassiscripts/setup-velociraptor@v2
      - name: Create env file
        run: |
          touch .env
          echo SAMPLE_TOKEN=sample_token >> .env
      - name: Run CI
        env:
          VR_HOOKS: "false"
        run: vr ci
